@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-truehour-dark text-slate-200 font-sans antialiased;
  }
}

@layer components {
  /* TrueHour custom component styles can go here */
}
